@import "https://unpkg.com/open-props";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


l-map {
  display: block;
  block-size: 40ch;
  isolation: isolate;
  z-index: 1;
}

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

body {
  font-family: system-ui;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

h1 {
    paint-order: stroke fill;
    text-transform: uppercase;
    font-size: calc(1rem + min(90px, 15vw));
    font-weight: 900;
    letter-spacing: -.175ch;
    line-height: 0.9;
    color: white;
    -webkit-text-stroke: 5px black;
    text-shadow: 8px 8px black;
}

h2, h3 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


pre {
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  border-radius: 0.2rem;
  overflow-x: auto;
}

main {
  inline-size: min(90%, 80ch);
  margin-inline: auto;
  max-inline-size: 100vw;
}

nav {
  z-index: 2;
  background-color: white;
  position: sticky; 
  top: 0;
  display: flex;
  & a {
    text-decoration: none;
    padding: var(--size-3);
    display: flex; 
    align-items: center; 
    gap: var(--size-1);
    paint-order: stroke fill;
    color: white;
    -webkit-text-stroke: 3px var(--gray-9);
    & iconify-icon {
      color: var(--gray-9);
    }
  }
  & a:last-child {
    align-self: flex-end;
  }
}

footer {
  margin-block-start: auto;
  min-height: 15ch;
  background-color: var(--gray-9);
  padding: var(--size-3);

  & .logo {
    --shadow-color: white;
    color: var(--gray-9);
    font-size: var(--font-size-0);
    paint-order: stroke fill;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -.175ch;
    line-height: 0.9;
    -webkit-text-stroke: 5px var(--shadow-color);
  }
}

